# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
# Jupyter Notebooks
.ipynb_checkpoints
# VSCode settings
.vscode/
# macOS
.DS_Store
# Windows
Thumbs.db
# Logs
*.log
# Docker
*.pid
*.pid.lock
# Data files
*.sqlite
*.db
*.csv
*.parquet
*.h5
*.zip
*.tar.gz